html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

p {
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

input,
textarea,
select,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  padding: 0;
  outline: none;
  border-radius: 0;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none !important;
}

button {
  cursor: pointer;
}

textarea {
  resize: none;
  outline: none;
  width: 100%;
}

img {
  display: block;
  width: 100%;
}

h4 {
  font-weight: unset !important;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "PostNoBillsJaffna-SemiBold";
  src: url("../fonts/PostNoBillsJaffna-SemiBold.eot");
  src: url("../fonts/PostNoBillsJaffna-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PostNoBillsJaffna-SemiBold.ttf") format("truetype"), url("../fonts/PostNoBillsJaffna-SemiBold.woff") format("woff"), url("../fonts/PostNoBillsJaffna-SemiBold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Raleway-Regular";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url("../fonts/PlayfairDisplay-Bold.eot");
  src: url("../fonts/PlayfairDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/PlayfairDisplay-Bold.ttf") format("truetype"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 1199px) {
  #mortgage {
    text-align: center;
  }
  #mortgage .mortgage-container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  #mortgage .mortgage-forms {
    margin-top: 3rem;
  }
  #video .video-container {
    width: 75vw !important;
  }
  #map-section .map-container {
    width: 75vw !important;
  }
  .contact-forms {
    width: 75% !important;
    margin: 0 auto;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .contact-forms .phone-input {
    margin-top: 2rem;
  }
  .contact-forms .submit-btn {
    margin-top: 2rem;
  }
}

@media (max-width: 991px) {
  .testimonial .testimonial-img {
    margin-top: 2rem;
  }
}

@media (max-width: 763px) {
  #apartments .apartment-img-wrapper {
    margin-top: 2rem;
  }
  .name-form {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name-form .name-input {
    margin-right: 0 !important;
    margin-bottom: 1rem;
  }
  .submit-form {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .submit-form .submit-btn {
    margin-top: 1rem;
  }
  .contact-forms span {
    margin-bottom: 2rem !important;
  }
  .footer-links {
    text-align: left;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-top: 2rem;
  }
  .footer-links .footer-socials {
    width: 50%;
  }
}

@media (max-width: 588px) {
  .home-contact {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    width: 75% !important;
  }
  #apartments .title {
    text-align: center !important;
  }
  #map-section .title {
    text-align: center !important;
  }
  #contact .title {
    text-align: center !important;
  }
}

@media (max-width: 491px) {
  #apartments .back-txt {
    font-size: 269px !important;
  }
}

@media (max-width: 375px) {
  .home-container h1 {
    font-size: 35px !important;
  }
  #video .video-container {
    width: 100vw !important;
  }
}

header {
  position: fixed;
  z-index: 99999;
  width: 100%;
  right: 0;
  left: 0;
  margin: 0 auto;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav {
  background-color: transparent;
}

header nav .navbar-brand h1 {
  color: #fff;
  font-family: "PostNoBillsJaffna-SemiBold";
  font-size: 36px;
}

header nav .navbar-brand p {
  color: #fff;
  font-family: "Raleway-Regular";
  font-size: 12px;
  letter-spacing: 0.12em;
}

header nav .nav-link {
  color: #fff !important;
  font-family: "Raleway-Regular";
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 0;
  margin-right: 40px;
  padding: 5px 5px !important;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .nav-link:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .nav-link::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #d4c17f;
  visibility: none;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .nav-link:hover::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

header nav .navbar-toggler {
  border: none;
}

.header-active {
  background-color: #242B33;
  -webkit-transition: 1s;
  transition: 1s;
}

#home .home-slider .slide-1 {
  background-image: url(../img/home/slide-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

#home .home-slider .slide-2 {
  background-image: url(../img/home/slide-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

#home .home-slider .slide-3 {
  background-image: url(../img/home/slide-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 100vh;
}

#home .home-slider .home-container {
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

#home .home-slider .home-container h1 {
  text-align: center;
  font-size: 48px;
  color: #d4c17f;
  font-family: "PlayfairDisplay-Bold";
}

#home .home-slider .home-container .home-scroll-icon {
  margin-top: 70px;
  height: 40px;
}

#home .home-slider .home-container .home-scroll-icon img {
  height: 100%;
}

#home .home-slider .home-contact {
  margin: 0 auto;
  z-index: 999999999;
  color: #fff;
  width: 50%;
  margin-top: 200px;
}

#home .home-slider .home-contact .home-location p {
  font-family: "Raleway-Regular";
  font-size: 18px;
}

#home .home-slider .home-contact .home-location .home-location-icon {
  margin-right: 18px;
}

#home .home-slider .home-contact .home-location .home-location-icon img {
  height: 21px;
}

#home .home-slider .home-contact .home-phone p {
  font-family: "Raleway-Regular";
  font-size: 18px;
}

#home .home-slider .home-contact .home-phone .home-phone-icon {
  margin-right: 18px;
}

#home .home-slider .home-contact .home-phone .home-phone-icon img {
  height: 21px;
}

.testimonial {
  height: 100%;
  background-color: #242B33;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.testimonial .back-txt {
  position: absolute;
  top: 50%;
  right: 15%;
  color: #fff;
  opacity: 0.02;
  font-size: 400px;
  line-height: 0;
  font-family: "PlayfairDisplay-Bold";
  white-space: nowrap;
}

.testimonial .testimonial-img {
  height: 80px;
  margin-bottom: 53px;
}

.testimonial .testimonial-img img {
  height: 100%;
}

.testimonial p {
  text-align: center;
  font-family: "Roboto-Light";
  color: #fff;
  font-size: 20px;
}

#apartments {
  height: 100%;
  background-color: #242B33;
  position: relative;
}

#apartments .back-txt {
  position: absolute;
  top: 20%;
  left: 5%;
  color: #fff;
  opacity: 0.02;
  font-size: 400px;
  line-height: 0;
  font-family: "PlayfairDisplay-Bold";
  white-space: nowrap;
}

#apartments .title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: #d4c17f;
  margin-bottom: 100px;
}

#apartments .row:last-child {
  margin: 0 auto;
  margin-top: 30px;
}

#apartments .row .apartment-img-wrapper {
  width: 100%;
  position: relative;
}

#apartments .row .apartment-img-wrapper img {
  width: 100%;
}

#apartments .row .apartment-img-wrapper p {
  font-family: "Raleway-Regular";
  color: #fff;
  font-size: 24px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

#mortgage {
  height: 100%;
  padding-top: 180px;
  padding-bottom: 180px;
  background-image: url(../img/mortgage/mortgage-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mortgage .title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: #d4c17f;
}

#mortgage .mortgage-text-wrapper {
  margin-top: 50px;
}

#mortgage .mortgage-text-wrapper p {
  font-family: "Raleway-Regular";
  color: #fff;
  font-size: 16px;
}

#mortgage .mortgage-forms input {
  background-color: rgba(255, 255, 255, 0.2);
  width: 255px;
  height: 50px;
  color: #fff;
  padding: 0 15px;
}

#mortgage .mortgage-forms input::-webkit-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#mortgage .mortgage-forms input:-ms-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#mortgage .mortgage-forms input::-ms-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 1px;
  color: #BEBEBE;
}

#mortgage .mortgage-forms input::placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#mortgage .mortgage-forms .name-input {
  margin-right: 30px;
}

#mortgage .mortgage-forms .submit-wrapper {
  margin-top: 35px;
}

#mortgage .mortgage-forms .submit-wrapper span {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 13px;
  color: #E7E7E7;
}

#mortgage .mortgage-forms .submit-wrapper input[type="submit"] {
  background-color: #d4c17f;
  font-family: "Raleway-Regular";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#mortgage .mortgage-forms .submit-wrapper input[type="submit"]:hover {
  background-color: #fff;
  color: #d4c17f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#video {
  height: 100%;
  background-color: #242B33;
  padding-bottom: 120px;
  position: relative;
  width: 100%;
}

#video .back-txt {
  position: absolute;
  top: 50%;
  right: 15%;
  color: #fff;
  opacity: 0.02;
  font-size: 400px;
  line-height: 0;
  font-family: "PlayfairDisplay-Bold";
  white-space: nowrap;
}

#video .video-container {
  height: 66vh;
  width: 37vw;
  position: relative;
  z-index: 999;
}

#map-section {
  height: 100%;
  background-color: #242B33;
  position: relative;
  width: 100%;
}

#map-section .title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: #d4c17f;
  margin-bottom: 100px;
}

#map-section .map-container {
  height: 36vh;
  width: 57vw;
  position: relative;
  z-index: 999;
  margin: 0 auto;
}

#contact {
  background-color: #242B33;
  padding: 180px 0;
}

#contact .title {
  font-family: "PlayfairDisplay-Bold";
  font-size: 36px;
  color: #d4c17f;
  margin-bottom: 50px;
}

#contact .contact-forms input {
  background-color: rgba(255, 255, 255, 0.2);
  width: 255px;
  height: 50px;
  color: #fff;
  padding: 0 15px;
}

#contact .contact-forms input::-webkit-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#contact .contact-forms input:-ms-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#contact .contact-forms input::-ms-input-placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#contact .contact-forms input::placeholder {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 14px;
  color: #BEBEBE;
}

#contact .contact-forms input[type="submit"] {
  background-color: #d4c17f;
  font-family: "Raleway-Regular";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

#contact .contact-forms input[type="submit"]:hover {
  background-color: #fff;
  color: #d4c17f;
  -webkit-transition: .3s;
  transition: .3s;
}

#contact .contact-forms span {
  text-align: center;
  font-family: "Raleway-Regular";
  font-size: 13px;
  color: #E7E7E7;
}

footer {
  background-color: #2D343C;
  padding: 60px 0;
}

footer .footer-logo h1 {
  color: #fff;
  font-family: "PostNoBillsJaffna-SemiBold";
  font-size: 36px;
}

footer .footer-logo p {
  color: #fff;
  font-family: "Raleway-Regular";
  font-size: 12px;
  letter-spacing: 0.12em;
}

footer .footer-links a {
  color: #fff !important;
  font-family: "Raleway-Regular";
  font-size: 14px;
  letter-spacing: 0.05em;
  padding: 0;
  line-height: 2;
}

footer .footer-links a span {
  color: #d4c17f;
  font-family: "Raleway-Bold";
}

footer .footer-links .footer-socials a {
  padding: 5px 5px !important;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer-links .footer-socials a:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer-links .footer-socials a::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: ".";
  color: transparent;
  background: #d4c17f;
  visibility: none;
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .footer-links .footer-socials a:hover::after {
  opacity: 1;
  visibility: visible;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/*# sourceMappingURL=styles.css.map */