#video {
    height: 100%;
    background-color: $color3;
    // padding-top: 120px;
    padding-bottom: 120px;
    position: relative;
    width: 100%;
    .back-txt {
        position: absolute;
        top: 50%;
        right: 15%;
        color: #fff;
        opacity: 0.02;
        font-size: 400px;
        line-height: 0;
        font-family: $font3;
        white-space: nowrap;
    }
    .video-container {
        height: 66vh;
        width: 37vw;
        position: relative;
        z-index: 999;
    }
}
