//Fonts
$font1: 'PostNoBillsJaffna-SemiBold';
$font2: 'Raleway-Regular';
$font3: 'PlayfairDisplay-Bold';
$font4: "Roboto-Light";
$font5: 'Raleway-Bold';

//Colors
$color1: #fff;
$color2: #d4c17f;
$color3: #242B33;
$color4: #BEBEBE;
$color5: #E7E7E7;
